{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='cats.css') }}">
{% endblock %}

{% block content %}
<div id="screen-cover" class="hidden"></div>

{% if user.level=="admin" %}
	<a href="/new_cat/{{ user.id }}">
		<div id="new-btn">
			<i class="fas fa-plus"></i>
		</div>
	</a>
{% endif %}
<main>
	{% for cat in cats %}
	{% if cat.adopted == False %}
	<div class="cat-listing">
		<img class="cat-img" src="{{ url_for('static', filename='images/' ~ cat.image) }}">
		<div class="cat-text">
			<h2 class="name">{{ cat.name }} ({{ cat.gender }}) ({{ cat.age }})</h2>
			<p class="bio">{{ cat.bio }}</p>
			<div class="page-link-btn cat-btn" id="{{ cat.id }}">Adopt me</div>
		</div>
	</div>
	{% endif %}
	{% endfor %}

	<form action="/cats/{{ user.id }}" method="post" class="hidden" id="{{ error }}">
		<p id="error-msg">{% if error=="exists" %}You already have an adoption form for this cat.{% endif %}</p>
		<i class="fas fa-xmark cancel" id="cancel"></i>
		{{ form.hidden_tag() }}
		<div class="hidden">{{ form.cat_id() }}</div>
		{{ form.address.label }}
		{{ form.address() }}
		<div>{{ form.other_pets.label }} {{ form.other_pets() }}</div>
		{{ form.reason.label }}
		{{ form.reason() }}
		{{ form.submit() }}
	</form>
</main>

<script src="{{ url_for('static', filename='cats.js') }}"></script>
{% endblock %}