{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
{% endblock %}

{% block content %}
<div id="screen-cover" class="hidden"></div>
<main>
	<div class="center-form" id="form-show">
		<div id="cat-details">
			<i class="fas fa-xmark form-cancel" id="cancel"></i>
			<h2>Cat Details</h2>
			<div class="identity">
				<h3 id="cat-id">Cat ID: </h3>
				<h3 id="cat-name">Cat Name: </h3>
			</div>
			<h3>Cat Bio</h3>
			<p id="cat-bio"></p>
		</div>

		<div id="user-details">
			<h2>Your Input</h2>
			<h3 id="user-address">Address: </h3>
			<h3 id="other-pets">Other Pets: </h3>
			<h3>Reason</h3>
			<h4 id="reason"></h4>
		</div>
	</div>

	<section id="section-1">
	<div id="profile-div" class="page-div">
		<div id="details">
			<!-- Account Details -->
			<h2>Your Account!</h2>
			<p id="error" class="{{ error }}"></p>
			<div id="username-div">
				<p class="account-detail" id="username-show">Username: {{ user.username }}</p>
				<i class="fas fa-pen-to-square account-detail" id="edit"></i>
				<form action="/home/{{ user.id }}" method="post" class="hidden" id="username-form">
					{{ form.hidden_tag() }}
					<p class="account-detail {{ error }}">
						{{ form.username.label }}{{ form.username() }}
						<i class="fas fa-xmark cancel" id="cancel"></i>
						<button type="submit" name="save" class="save">
							<i class="fas fa-check"></i>
						</button>
					</p>
				</form>
			</div>
			<p class="account-detail">Account Level: {{ user.level|capitalize }}</p>
			<p class="account-detail">User ID: {{ user.id }}</p>
		</div>
	</div>

	<div id="news-div" class="page-div">
		<h2>Recent News</h2>
		<div id="newest-news">
			{% if news %}
			<h3>{{ news.headline }}</h3>
			<h4>- {{ news.author.username }}</h4>
			{% endif %}
		</div>
		<a href="/news/{{ user.id }}" id="news-btn" class="page-link-btn">See more</a>
	</div>
	</section>

	<section id="section-2">
	<div id="adoptions-div" class="page-div">
		<h2>Your Adoption Forms</h2>
		<div id="user-adoptions">
			{% if adoptions %}
			{% for form in adoptions|reverse %}
			<div class="cat-form">
				<p class="form-link" id="{{ form.id }}">{{ form.id }} -|- Cat adoption form for {{ form.cat.name }}</p>
				{% if form.review %}
					{% if form.review.status=="Declined" %}
						<p class="denied">{{ form.review.status }}</p>
					{% else %}
						<p class="accepted">{{ form.review.status }}</p>
					{% endif %}
				{% endif %}
			</div>
			{% endfor %}
			{% else %}
			<p class="no-adoptions">Oh no! You don't have any adoption forms.</p>
			<p class="no-adoptions">Would you like to submit one?</p>
			<a href="/cats/{{ user.id}}" class="page-link-btn" id="adoption-btn">See Cats!</a>
			{% endif %}
		</div>
	</div>
	</section>
</main>
<script src="{{ url_for('static', filename='home.js') }}"></script>
{% endblock %}