{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
{% endblock %}

{% block content %}
<main>
	<!-- Adoption Form Info -->
	<div class="center-form" id="form-show">
		<div id="cat-details">
			<i class="fas fa-xmark form-cancel" id="cancel-cat"></i>
			<h3>Cat Details</h3>
			<div class="identity">
				<h4 id="cat-id">Cat ID: </h4>
				<h4 id="cat-name">Cat Name: </h4>
			</div>
			<h4>Cat Bio</h4>
			<p id="cat-bio"></p>
		</div>

		<div id="user-details">
			<h3>Your Input</h3>
			<h4 id="user-address">Address: </h4>
			<h4 id="other-pets">Other Pets: </h4>
			<h4>Reason</h4>
			<p id="reason"></p>
		</div>
	</div>

	<!-- Volunteer Application Info -->
	<div id="application-show" class="center-form">
		<i class="fas fa-xmark form-cancel" id="cancel-volunteer"></i>
		<h3>Application Details</h3>
		<h4 id="applicant-first-name">First Name: </h4>
		<h4 id="applicant-last-name">Last Name: </h4>
		<h4 id="applicant-address">Address: </h4>
		<h4 id="applicant-age">Age: </h4>
		<h4>Reason</h4>
		<p id="applicant-reason"></p>
	</div>

	<!-- Cat Delivery Info -->
	<div class="center-form" id="delivery-show">
		<i class="fas fa-xmark form-cancel" id="cancel-delivery"></i>
		<h2>Delivery Details</h2>
		<h4>Your cat is currently being delvered to your door!</h4>
		<h4>Who is delivering your new friend?</h3>
		<h3 id="volunteer-name"></h3>
		<h4>What are they doing right now?</h3>
		<h3 id="delivery-stage"></h3>
		<h4 id="confirm-header">Has you received your cat?</h4>
		<div id="confirm-div">
			<button id="yes-btn" class="confirm-btn">Yes</button>
			<button id="no-btn" class="confirm-btn">No</button>
		</div>
	</div>

	<section id="section-1">
	<!-- Account Details -->
	<div id="profile-div" class="page-div">
		<div id="details">
			<h2>Your Account!</h2>
			<p id="error" class="{{ error }}"></p>
			<div id="username-div">
				<p class="account-detail" id="username-show">Username: {{ user.username }}</p>
				<i class="fas fa-pen-to-square account-detail" id="edit"></i>

				<!-- Form to change username -->
				<form action="/home/{{ user.id }}" method="post" class="hidden" id="username-form">
					{{ form.hidden_tag() }}
					<p class="account-detail {{ error }}">
						{{ form.username.label }}{{ form.username() }}
						<i class="fas fa-xmark cancel" id="cancel"></i>
						<button type="submit" name="save" class="save">
							<i class="fas fa-check"></i>
						</button>
					</p>
				</form>
			</div>
			<p class="account-detail">Account Level: {{ user.level|capitalize }}</p>
			<p class="account-detail">User ID: {{ user.id }}</p>
		</div>
	</div>

	<!-- Most Recent News -->
	<div id="news-div" class="page-div">
		<h2>Recent News</h2>
		<div id="newest-news">
			{% if news %}
			<h3>{{ news.headline }}</h3>
			<h4>- {{ news.author.username }}</h4>
			{% else %}
			<h3></h3><h4></h4>
			{% endif %}
		</div>
		<a href="/news/{{ user.id }}" id="news-btn" class="page-link-btn">See more</a>
	</div>
	</section>

	<section id="section-2">
	<!-- Cat Adoption Form List -->
	<div id="adoptions-div" class="page-div">
		<h2>Your Adoption Forms</h2>
		<div id="user-adoptions">
			<!-- Create a list of all user adoption forms -->
			{% if adoptions %}
			{% for form in adoptions|reverse %}
			<div class="cat-form">
				<p class="form-link cat-adoption" id="{{ form.id }}">{{ form.id }} -|- Cat adoption form for {{ form.cat.name }}</p>
				{% if form.review %}
					{% if form.review.status=="Declined" %}
						<p class="denied">{{ form.review.status }}</p>
					{% else %}
						<p class="accepted">{{ form.review.status }}</p>
					{% endif %}
				{% endif %}
			</div>
			{% endfor %}

			<!-- User has no adoption forms -->
			{% else %}
			<p class="no-adoptions">Oh no! You don't have any adoption forms.</p>
			<p class="no-adoptions">Would you like to submit one?</p>
			<a href="/cats/{{ user.id}}" class="page-link-btn" id="adoption-btn">See cats</a>
			{% endif %}
		</div>
	</div>
	
	<!-- Volunteer Application List -->
	<div class="page-div" id="volunteer-div">
		<h2>Volunteering Info</h2>
		<!-- User has not applied to be a volunteer -->
		{% if user.level == "user" and applications|length == 0 %}
		<p class="not-volunteer">Oh no! It seems you aren't a volunteer!</p>
		<p class="not-volunteer">Our mission is made achievable by our volunteers.</p>
		<p class="not-volunteer">Would you like to help us?</p>
		<a href="/become_volunteer/{{ user.id }}" class="page-link-btn" id="volunteer-btn">Apply now</a>
		
		<!-- Display a list of all user applications -->
		{% elif user.level == "user" and applications|length > 0 %}
		<div id="user-applications">
			{% for application in applications %}
			<div class="application-div">
				<p class="application-link" id="{{ application.id }}">{{ application.id }} -|- Application form for volunteering</p>
				{% if application.review.status == "Declined" %}
				<p class="denied">{{ application.review.status }}</p>
				{% endif %}
			</div>
			{% endfor %}
		</div>
		
		{% elif user.level == "volunteer" or user.level == "admin" %}
		<div id="due-transports">
			{% for form in transports %}
			<div class="transport-div">
				<a class="due-transport" href="/is_volunteer/{{ user.id }}/{{ form.id }}">Due Transport for {{ form.cat.name }} to {{ form.address }}</a>
			</div>
			{% endfor %}
		</div>
		{% endif %}
	</div>
	</section>
</main>
<script src="{{ url_for('static', filename='home.js') }}"></script>
{% endblock %}