{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='new_cat.css') }}">
{% endblock %}

{% block content %}
<!-- New Cat Listing Form -->
<main>
	<form action="/new_cat/{{ user.id }}" method="post" enctype="multipart/form-data">
		{{ form.hidden_tag() }}
		{{ form.name.label }}
		{{ form.name() }}
		{{ form.bio.label }}
		{{ form.bio() }}
		{{ form.room.label }}
		{{ form.room() }}
		{{ form.age.label }}
		{{ form.age() }}
		<div class="image-field">{{ form.image.label }} {{ form.image() }}</div>
		{{ form.submit() }}
	</form>
</main>
{% endblock %}