{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='new_cat.css') }}">
{% endblock %}

{% block content %}
<header>
	<a href="/home/{{ user.id }}">Home</a>
	<a href="/news/{{ user.id }}">News</a>
	<a href="/cats/{{ user.id }}">View Cats</a>
	<a>Volunteer</a>
	{% if user.level == "admin" %}
	<a href="/admin/{{ user.id }}">Admin</a>
	{% endif %}
</header>

<main>
	<form action="/new_cat/{{ user.id }}" method="post" enctype="multipart/form-data">
		{{ form.hidden_tag() }}
		{{ form.name.label }}
		{{ form.name() }}
		{{ form.bio.label }}
		{{ form.bio() }}
		<div class="image-field">{{ form.image.label }} {{ form.image() }}</div>
		{{ form.submit() }}
	</form>
</main>
{% endblock %}