{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='news.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
{% endblock %}

{% block content %}
<div id="screen-cover" class="hidden"></div>
<header>
	<a href="/home/{{ user.id }}">Home</a>
	<a href="/news/{{ user.id }}" class="selected">News</a>
	<a href="/cats/{{ user.id }}">View Cats</a>
	<a>Volunteer</a>
	{% if user.level == "admin" %}
	<a>Admin</a>
	{% endif %}
</header>

<main>
	<form action="/news/{{ user.id }}" method="post" id="form" class="hidden">
		{{ form.hidden_tag() }}
		<i class="fas fa-xmark cancel" id="cancel"></i>
		<p class="hidden">{{ form.id }}</p>
		<p id="error" class="{{ error }} hidden">That headline or description is already in use.</p>
		{{ form.headline.label }}
		<div class="{{ error }}">{{ form.headline() }}</div>
		{{ form.description.label }}
		<div class="{{ error }}">{{ form.description() }}</div>
		{{ form.submit() }}
	</form>

	{% if user.level=="admin" %}
	<div id="new-btn">
		<i class="fas fa-plus"></i>
	</div>
	{% endif %}

	{% for i in news|reverse %}
	<div class="news-div">
		<div class="content">
			<h2>{{ i.headline }}</h2>
			<h3>- {{ i.author.username }}</h3>
			<p>{{ i.description }}</p>
		</div>
		{% if user.level == "admin" %}
		<div class="edit">
			<i class="fas fa-pen-to-square edit-btn" id="{{ i.id }}"></i>
		</div>
		<div class="delete">
			<i class="fas fa-trash delete-btn" id="{{ i.id }}"></i>
		</div>
		{% endif %}
	</div>
	{% endfor %}
	
</main>
<script src="{{ url_for('static', filename='news.js') }}"></script>
{% endblock %}